<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/site.css" />
    <include path="~/Content/master.css" />
    <include path="~/Content/style.css" />
    <include path="~/Content/home.css" />
    <include path="~/Content/contact.css" />
    <include path="~/Content/profile.css" />
    <include path="~/Content/rules.css" />
    <include path="~/Content/faq.css" />
    <include path="~/Content/support.css" />
    <include path="~/Content/guide.css" />
    <include path="~/Content/useradmin.css" />
  </styleBundle>
</bundles>