body {
}

.faq {
    height: 100vh;
    width: 100%;
    color: #000;
}

.inner-faq {
    width: 1000px;
    margin: 0 auto;
}

.faq .faq-box{
    width: 950px;
    height: 500px;
    border: 1px solid #000;
    margin: 0 auto;
    margin-top: 75px;
}
.faq h1, h2, h3, h4 {
    color: #202b36;
}

.faq .faq-title{
    position: absolute;
    margin-top: -19px;
    margin-left: 30px;
    background-color: #fff;
    padding: 0 10px;
}

.faq-content{
    width: auto;
    float: left;
    margin: 25px 40px 0 40px;
}

.faq a{
    color: #202b36;
}

.faq #MainContent_naviMenu {
        position: absolute;
        margin: -60px 0 0 17px;
        color: #202b36;
    }

.faq #MainContent_naviMenu a {
        color: #202b36;
    }

.faq #MainContent_naviMenu a:visited {
        color: #202b36;
        text-decoration: none;
    }

.faq #MainContent_naviMenu a:hover {
        text-decoration: underline;
    }
