/* Move down content because we have a fixed navbar that is 50px tall */
h1, h2, h3, h4 {
    color: white;
}

body {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

/*CONTENT*/
.home .body-content {
}


.home .content-blue {
    width: 1000px;
    margin: 0 auto;
    height: 535px;
}

.home div.blue {
    background-color: #2c3e50;
    width: 100%;
    box-shadow: 0px 8px 5px -4px #414141;
}

/*TELEFON*/

.home .left {
    float: left;
    width: 250px;
    position: absolute;
    margin: 52px 0 0 14px;
}

.home .phone {
    box-shadow: 0px 2px 6px #414141;
    border-radius: 23px;
}

.home .right {
    float: right;
    width: 700px;
    margin-top: 36px;
}

/*VIDEOER*/

.home .marginRight {
    display: inline-block;
}

.home #videoDiv1, #videoDiv2, #videoDiv4, #videoDiv5 {
    margin-right: 29px;
    width: 200px;
}

.home #videoDiv3, #videoDiv6 {
    width: 200px;
}

.home #video1, #video2, #video3, #video4, #video5, #video6 {
    width: 200px;
}

.underlined {
    text-decoration: underline;
    color: #fff;
    font-size: 17px;
}

.underlined2 {
    text-decoration: underline;
    color: #fff;
    font-size: 17px;
    margin-top: 56px;
}

.home .videoTitel1, .videoTitel2, .videoTitel3 {
    color: #fff;
    font-size: 14px;
}

.home #video1, #video2, #video3, #video4, #video5, #video6 {
    border-radius: 15px;
}


/* HVID SECTION*/

.home .content-white {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.home .inner-white {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.home .inner-left {
    width: 500px;
    color: #000;
    margin-top: 75px;
}

.home .donate {
    width: 40px;
    position: absolute;
    margin-left: 15px;
}

.home .group {
    width: 40px;
    margin: 5px 0 0 15px;
    position: absolute;
}

.home .home-text {
    margin-left: 80px;
}

.home .inner-right {
    float: right;
    width: 450px;
    height: 310px;
    margin-top: -314px;
}

.home .image {
    margin: 115px 0 0 190px;
    width: 40px;
    height: 40px;
    position: absolute;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/*RESPONSIV*/
@media (max-width: 1215px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 915px) {
    html {
        width: 915px;
    }

    .home .content-blue {
        width: 915px;
    }

    .home .right {
        width: 510px;
    }

    .home .videoTitel3, #video3, #video6, #videoDiv3, #videoDiv6 {
        display: none;
    }

    .home .left {
        margin-left: 120px;
        width: 260px;
    }

    .home .inner-white {
        width: 915px;
    }

    .home .inner-left {
        width: 450px;
        margin-left: 110px;
    }

    .home .inner-right img {
        margin-left: 240px;
    }
}

@media (max-width: 768px) {
    html {
        width: 768px;
    }

    .home .content-blue {
        width: 768px;
        height: 480px;
    }

    .home .inner-white {
        width: 768px;
    }

    .home .inner-right {
        display: none;
    }

    .home .inner-left {
        margin-left: 40px;
    }

    .home .right {
        width: 475px;
        margin-left: 30px;
    }

    .home .phone {
        height: 450px;
    }

    .home .left{
        margin-left: 45px;
    }

    .home .videoTitel3, #video3, #video6, #videoDiv3, #videoDiv6 {
        display: none;
    }
}

@media (max-width: 500px) {
    html {
        width: 500px;
    }

    .home .content-blue {
        height: 500px;
        width: 500px;
    }

    .home .right {
        display: none;
    }

    .home .left {
        width: 482px;
    }

    .home .phone {
        margin-left: 105px;
        margin-top: -40px;
    }

    .home .inner-white {
        width: 482px;
    }

    .home .inner-right {
        display: none;
    }

    .home .inner-left{
        margin: 0;
        margin-top: 50px;
    }

    .home .navbar {
        width: 500px;
    }
}
