/* Move down content because we have a fixed navbar that is 50px tall */
h1, h2, h3, h4 {
    color: white;
}

body {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

/*CONTENT*/
.home .body-content {
}


.home .content-blue {
    width: 1000px;
    margin: 0 auto;
    height: 535px;
}

.home div.blue {
    background-color: #2c3e50;
    width: 100%;
    box-shadow: 0px 2px 6px #414141;
}

/*TELEFON*/

.home .left {
    float: left;
    width: 250px;
    position: absolute;
    margin: 52px 0 0 14px;
}

.home .phone {
    box-shadow: 0px 2px 6px #414141;
    border-radius: 23px;
}

.home .right {
    float: right;
    width: 700px;
    margin-top: 36px;
}

/*VIDEOER*/

.home .marginRight {
    display: inline-block;
}

.home #videoDiv1, #videoDiv2 {
    margin-right: 29px;
    width: 200px;
}

.home #videoDiv3 {
    width: 200px;
}

.underlined {
    text-decoration: underline;
    color: #fff;
}

.home #videoTitel1, #videoTitel2, #videoTitel3 {
    color: #fff;
    font-size: 14px;
}

.inline {
}

.marginRight {
}




/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}
