html{
    overflow-x:hidden;
}

body {
    min-height: 100%;
}

.login .content {
    width: 1000px;
    margin: 0 auto;
    height: 800px;
    margin-bottom: -20px;
}

.login .left {
    float: left;
    background-color: #fff;
    border-radius: 5px;
    height: 300px;
    width: 316px;
    margin-top: 50px;
}

.login .right {
    float: right;
    background-color: #fff;
    border-radius: 5px;
    height: 370px;
    margin-top: 50px;
}

.login .blue {
    background: #2C3E50;
}

.login th {
    border: none;
}

.login .login-box-header h2 {
    margin-left: 30px;
}

.login .login-box-header {
    background-color: rgb(228, 228, 228);
    width: 316px;
    position: absolute;
    border-radius: 5px 5px 0 0;
    margin: -101px 0 0 -117px;
    border-bottom: 1px solid #888;
}

.login .login-username-box {
    width: 255px;
    height: 50px;
    margin-left: -88px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #888;
}

.login .login-password-box {
    width: 255px;
    height: 50px;
    margin-left: -88px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #888;
    margin-right: 13px;
    margin-top: -3px;
}


.login table {
    margin: 33px 0 0 0;
}


.login td{
    text-align: left;
}

/*CHECKBOX*/

.login .login-check-box {
    left: -88px;
    position: relative;
}

/*LOGIN BUTTON*/

.login .login-btn {
    width: 90px;
    height: 30px;
    background-color: #4F8ECD;
    border-radius: 5px;
    color: #fff;
    border: none;
    margin: 10px 0 0 78px;
}

/* REGISTRATION*/

.login .regi {
    margin-top: 90px;
    margin-right: -139px;
}

.login .regi-header {
    background-color: rgb(228, 228, 228);
    width: 463px;
    position: absolute;
    border-radius: 5px 5px 0 0;
    margin: -90px 0 0 0;
    border-bottom: 1px solid #888;
}

    .login .regi-header h2 {
        margin-left: 30px;
    }

/*SUBMIT BTN*/

.login .submit-btn {
    width: 90px;
    height: 30px;
    background-color: #4F8ECD;
    border-radius: 5px;
    color: #fff;
    border: none;
    margin: 10px 0 0 186px;
}

/*INPUT*/

.login .regi-username {
    width: 255px;
    height: 50px;
    margin-left: 20px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #888;
    position: absolute;
    margin-right: 104px;
    margin-top: -24px;
}

.login .regi-password {
    width: 255px;
    height: 50px;
    margin-left: 20px;
    border: 1px solid #888;
    position: absolute;
    margin-right: 104px;
    margin-top: -25px;
}

.login .regi-password-confirm {
    width: 255px;
    height: 50px;
    margin-left: 20px;
    border: 1px solid #888;
    position: absolute;
    margin-right: 104px;
    margin-top: -26px;
}

.login .regi-mail {
    width: 255px;
    height: 50px;
    margin-left: 20px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #888;
    position: absolute;
    margin-right: 104px;
    margin-top: -27px;
}

/*TEXT*/

.login .regi-input-text {
    padding-left: 10px;
}

::-webkit-input-placeholder {
   padding-left: 10px;
}

:-moz-placeholder { /* Firefox 18- */
   padding-left: 10px; 
}

::-moz-placeholder {  /* Firefox 19+ */
   padding-left: 10px;
}

:-ms-input-placeholder {  
   padding-left: 10px;  
}

/*MEDIA*/

/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT */

@media (max-width: 1215px) {

    html{
        width: 1215px;
        overflow-x: hidden;
    }
    body {
        min-height: 100%;
    }

    .login .content {
        width: 1000px;
        margin: 0 auto;
        height: 800px;
        margin-bottom: -20px;
    }

    .login .left {
        float: left;
        background-color: #fff;
        border-radius: 5px;
        height: 300px;
        width: 316px;
        margin-top: 50px;
    }

    .login .right {
        float: right;
        background-color: #fff;
        border-radius: 5px;
        height: 370px;
        margin-top: 50px;
    }

    .login .blue {
        background: #2C3E50;
    }

    .login th {
        border: none;
    }

    .login .login-box-header h2 {
        margin-left: 30px;
    }

    .login .login-box-header {
        background-color: rgb(228, 228, 228);
        width: 316px;
        position: absolute;
        border-radius: 5px 5px 0 0;
        margin: -101px 0 0 -117px;
        border-bottom: 1px solid #888;
    }

    .login .login-username-box {
        width: 255px;
        height: 50px;
        margin-left: -88px;
        border-radius: 5px 5px 0 0;
        border: 1px solid #888;
    }

    .login .login-password-box {
        width: 255px;
        height: 50px;
        margin-left: -88px;
        border-radius: 0 0 5px 5px;
        border: 1px solid #888;
        margin-right: 13px;
        margin-top: -3px;
    }


    .login table {
        margin: 33px 0 0 0;
    }


    /*CHECKBOX*/

    .login .login-check-box {
        left: -88px;
        position: relative;
    }

    /*LOGIN BUTTON*/

    .login .login-btn {
        width: 90px;
        height: 30px;
        background-color: #4F8ECD;
        border-radius: 5px;
        color: #fff;
        border: none;
        margin: 10px 0 0 78px;
    }

    /* REGISTRATION*/

    .login .regi {
        margin-top: 90px;
        margin-right: -139px;
    }

    .login .regi-header {
        background-color: rgb(228, 228, 228);
        width: 463px;
        position: absolute;
        border-radius: 5px 5px 0 0;
        margin: -90px 0 0 0;
        border-bottom: 1px solid #888;
    }

        .login .regi-header h2 {
            margin-left: 30px;
        }

    /*SUBMIT BTN*/

    .login .submit-btn {
        width: 90px;
        height: 30px;
        background-color: #4F8ECD;
        border-radius: 5px;
        color: #fff;
        border: none;
        margin: 10px 0 0 186px;
    }

    /*INPUT*/

    .login .regi-username {
        width: 255px;
        height: 50px;
        margin-left: 20px;
        border-radius: 5px 5px 0 0;
        border: 1px solid #888;
        position: absolute;
        margin-right: 104px;
        margin-top: -24px;
    }

    .login .regi-password {
        width: 255px;
        height: 50px;
        margin-left: 20px;
        border: 1px solid #888;
        position: absolute;
        margin-right: 104px;
        margin-top: -25px;
    }

    .login .regi-password-confirm {
        width: 255px;
        height: 50px;
        margin-left: 20px;
        border: 1px solid #888;
        position: absolute;
        margin-right: 104px;
        margin-top: -26px;
    }

    .login .regi-mail {
        width: 255px;
        height: 50px;
        margin-left: 20px;
        border-radius: 0 0 5px 5px;
        border: 1px solid #888;
        position: absolute;
        margin-right: 104px;
        margin-top: -27px;
    }

    /*TEXT*/

    .login .regi-input-text {
        padding-left: 35px;
    }
}

@media (max-width: 1024px) {

    html{
        width: 1024px;
        overflow-x: hidden;
    }

    body{
        min-height: 100%;
    }

    .login .content {
        width: 700px;
        margin: 0 auto;
        height: 800px;
        margin-bottom: -20px;
    }

    .login .left {
        background-color: #fff;
        border-radius: 5px;
        height: 300px;
        width: 250px;
        margin-top: 50px;
    }

    .login .right {
        float: right;
        background-color: #fff;
        border-radius: 5px;
        height: 395px;
        margin-top: 50px;
        width: 395px;
    }

    .login .blue {
        background: #2C3E50;
    }

    .login th {
        border: none;
    }

    .login .login-box-header h2 {
        margin-left: 30px;
    }

    .login .login-box-header {
        background-color: rgb(228, 228, 228);
        width: 250px;
        position: absolute;
        border-radius: 5px 5px 0 0;
        margin: -101px 0 0 -97px;
        border-bottom: 1px solid #888;
    }

    .login .login-username-box {
        width: 160px;
        height: 50px;
        margin-left: -54px;
        border-radius: 5px 5px 0 0;
        border: 1px solid #888;
        padding-left: 15px;
    }

    .login .login-password-box {
        width: 160px;
        height: 50px;
        margin-left: -54px;
        border-radius: 0 0 5px 5px;
        border: 1px solid #888;
        margin-right: 13px;
        margin-top: -3px;
        padding-left: 15px;
    }


    .login table {
        margin: 33px 0 0 0;
    }


    /*CHECKBOX*/

    .login .login-check-box {
        left: -57px;
        position: relative;
        font-size: 13px;

    }

    /*LOGIN BUTTON*/

    .login .login-btn {
        width: 90px;
        height: 30px;
        background-color: #4F8ECD;
        border-radius: 5px;
        color: #fff;
        border: none;
        margin: 10px 0 0 32px;
    }

    /* REGISTRATION*/

    .login .regi {
        margin-top: 120px;
        margin-right: -139px;
    }

    .login .regi-header {
        background-color: rgb(228, 228, 228);
        width: 385px;
        position: absolute;
        border-radius: 5px 5px 0 0;
        margin: -120px 0 0 0;
        border-bottom: 1px solid #888;
        height: 64px;
    }

        .login .regi-header h2 {
            margin-left: 30px;
        }

    /*SUBMIT BTN*/

    .login .submit-btn {
        width: 90px;
        height: 30px;
        background-color: #4F8ECD;
        border-radius: 5px;
        color: #fff;
        border: none;
        margin: 10px 0 0 127px;
    }

    /*INPUT*/

    .login .regi-username {
        width: 180px;
        height: 50px;
        margin-left: 20px;
        border-radius: 5px 5px 0 0;
        border: 1px solid #888;
        position: absolute;
        margin-right: 104px;
        margin-top: -34px;
        padding-left: 15px;
    }

    .login .regi-password {
        width: 180px;
        height: 50px;
        margin-left: 20px;
        border: 1px solid #888;
        position: absolute;
        margin-right: 104px;
        margin-top: -25px;
        padding-left: 15px;
    }

    .login .regi-password-confirm {
        width: 180px;
        height: 50px;
        margin-left: 20px;
        border: 1px solid #888;
        position: absolute;
        margin-right: 104px;
        margin-top: -26px;
        padding-left: 15px;
    }

    .login .regi-mail {
        width: 180px;
        height: 50px;
        margin-left: 20px;
        border-radius: 0 0 5px 5px;
        border: 1px solid #888;
        position: absolute;
        margin-right: 104px;
        margin-top: -27px;
        padding-left: 15px;
    }

    /*TEXT*/

    .login .regi-input-text {
        padding-left: 35px;
        font-size: 13px;
    }
}

@media (max-width: 915px) {
    html{
        width: 915px;
        overflow-x: hidden;
    }
}

@media (max-width: 768px) {
    html{
        width: 768px;
        overflow-x: hidden;
    }
    .login .content{
        width: 768px;
        margin-bottom: -25px;
    }

    .login .left{
        margin-left: 30px;
    }
    
    .login .right{
        margin-right: 40px;
    }
}

@media (max-width: 500px) {
    html{
        min-width: 500px;
        overflow-x: hidden;
    }

    .login .content{
        width: 500px;
        height: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: -20px;
    }
    .login .right{
        float: none;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 20px;
        width: 395px;
    }

    .login .left{
        float: none;
        margin: 0 auto;
        width: 250px;
    }
}

